<h2>Listado de las Mensajes en curso actualmente</h2>
<div>
    <button class="btn btn-success" style="color:white" (click)="gotoDetail()">
        Crear una nueva Mensaje
    </button>
</div>
<ul class="Mensajes">
  <li *ngFor="let Mensaje of Mensajes" (click)="onSelect(Mensaje)"
      [class.selected]="Mensaje === selectedMensaje">
    <span class="badge">{{Mensaje.id}}</span>
    <span>{{Mensaje.cantidad}}</span>
    <button class="delete"
      (click)="delete(Mensaje)">x</button>
  </li>
</ul>
<div *ngIf="selectedMensaje">
  <h2>
    {{selectedMensaje.cantidad}} seleccionado
  </h2>
  <button class="btn-info" style="color:white" (click)="gotoDetail()">Ver Mensaje</button>
</div>
