<h2>Listado de las apuestas en curso actualmente</h2>
<div>
    <button class="btn btn-success" style="color:white" (click)="gotoDetail()">
        Crear una nueva Apuesta
    </button>
</div>
<ul class="apuestas">
  <li *ngFor="let apuesta of apuestas" (click)="onSelect(apuesta)"
      [class.selected]="apuesta === selectedApuesta">
    <span class="badge">{{apuesta.id}}</span>
    <span>{{apuesta.cantidad}}</span>
    <button class="delete"
      (click)="delete(apuesta)">x</button>
  </li>
</ul>
<div *ngIf="selectedApuesta">
  <h2>
    {{selectedApuesta.cantidad}} seleccionado
  </h2>
  <button class="btn-info" style="color:white" (click)="gotoDetail()">Ver Apuesta</button>
</div>
