<div *ngIf="Mensaje && !create">
    <h2>Mensaje #{{Mensaje.id}} {{Mensaje.textoUsuario}}</h2>
    <div>
        <label>id: </label>{{Mensaje.id}}
    </div>
    <div>
        <label>Cantidad: </label>
        <input [(ngModel)]="Mensaje.cantidad" placeholder="Nombre" />
    </div>
    <div>
        <label>Cliente: </label>
        <select id="cmbClienteMensajeDet" [(ngModel)]="Mensaje.UsrID">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nombre}}</option>
        </select>
    </div>
    <div>
    <label>Fecha: </label>
        <input [(ngModel)]="Mensaje.fechaMensaje" placeholder="Fecha" />
    </div>
    <div>
        <label>Mensaje: </label>
        <input [(ngModel)]="Mensaje.textoUsuario" placeholder="Texto" />
    </div>
  <button class="btn btn-toolbar" style="color:black !important;" (click)="goBack()">Atras</button>
  <button class="btn btn-warning" style="color:white !important;" (click)="save()">Modificar Mensaje</button>
</div>
<div *ngIf="create">
    <h2>Nueva Mensaje a {{Mensaje.textoUsuario}}</h2>
    <div>
        <label>Cantidad: </label>
        <input [(ngModel)]="Mensaje.cantidad" placeholder="Cantidad" required />
    </div>
    <div>
        <label>Cliente: </label>
        <select id="cmbClienteMensajeDet" [(ngModel)]="Mensaje.UsrID" required>
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nombre}}</option>
        </select>
    </div>
    <div>
        <label>Fecha: </label>
        <input [(ngModel)]="Mensaje.fechaMensaje" placeholder="Fecha" required/>
    </div>
    <div>
        <label>Mensaje: </label>
        <input [(ngModel)]="Mensaje.textoUsuario" placeholder="Texto" required/>
    </div>
    <button class="btn btn-toolbar" style="color:black !important;" (click)="goBack()">Atras</button>
    <button class="btn btn-warning" style="color:white !important;" (click)="add()">Crear nueva Mensaje</button>
</div>

<div *ngIf="vacio">
    <span class="alert alert-danger">¡  Error! No se puede dejar ningun campo vacio</span>
</div>

