<div *ngIf="cliente && !create">
  <h2>Cliente #{{cliente.id}} {{cliente.nombre}}</h2>
  <div>
    <label>id: </label>{{cliente.id}}</div>
  <div>
    <label>DNI: </label>
    <input [(ngModel)]="cliente.dni" placeholder="DNI" required/>
   </div>
    <div>
        <label>Nombre: </label>
        <input [(ngModel)]="cliente.nombre" placeholder="Nombre" required />
    </div>
    <div>
        <label>Apellidos: </label>
        <input [(ngModel)]="cliente.apellidos" placeholder="Apellidos" required/>
    </div>
    <div>
        <label>Direccion: </label>
        <input [(ngModel)]="cliente.direccion" placeholder="Direccion" required />
    </div>

    <div>
        <label>Fecha de Alta: </label>
        <input [(ngModel)]="cliente.fechaAlta" required/>
    </div>
    
  <button class="btn btn-toolbar" style="color:black !important;" (click)="goBack()">Volver</button>
  <button class="btn btn-warning" style="color:white !important;" (click)="save()">Modificar Cliente</button>
</div>

<div *ngIf="create">
    <h2>Cliente  {{cliente.nombre}}</h2>
    <div>
        <label>DNI: </label>
        <input [(ngModel)]="cliente.dni" placeholder="DNI" required/>
    </div>
    <div>
        <label>Nombre: </label>
        <input [(ngModel)]="cliente.nombre" placeholder="Nombre" required/>
    </div>
    <div>
        <label>Apellidos: </label>
        <input [(ngModel)]="cliente.apellidos" placeholder="Apellidos" required/>
    </div>
    <div>
        <label>Direccion: </label>
        <input [(ngModel)]="cliente.direccion" placeholder="Direccion" required/>
    </div>
    <div>
        <label>Fecha de Alta: </label>
        <input [(ngModel)]="cliente.fechaAlta" required placeholder="Fecha Actual"/>
    </div>

    <button class="btn btn-toolbar" style="color:black !important;" (click)="goBack()">Volver</button>
    <button class="btn btn-warning" style="color:white !important;" (click)="add()">Dar de alta al nuevo cliente</button>
</div>
<div *ngIf="vacio">
    <span class="alert alert-danger">¡  Error! No se puede dejar ningun campo vacio</span>
</div>
