<h2>Listado de Clientes dados de alta en el sistema</h2>
<div>
  <button style="color:white" class="btn btn-success" (click)="gotoDetail()">
    Dar de Alta un nuevo Cliente
  </button>
</div>
<ul class="clientes">
  <li *ngFor="let cliente of clientes" (click)="onSelect(cliente)"
      [class.selected]="cliente === selectedCliente">
    <span class="badge">{{cliente.id}}</span>
    <span>{{cliente.nombre}}</span>
    <button class="delete"
      (click)="delete(cliente); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedCliente">
  <h2>
    {{selectedCliente.nombre | uppercase}} seleccionado
  </h2>
  <button id="btnInfo" class="btn btn-info" (click)="gotoDetail()">Ver Cliente</button>
</div>
<div *ngIf="noDeleted">
    <span class="alert alert-danger"><strong>¡  Error!</strong>El cliente no se puede borrar. Tiene una Mensaje pendiente</span>
</div>