<div *ngIf="create">
    <div>
        <label>EmisorID: </label>
        <label [(ngModel)]="mensaje.eUsuario.nombre"></label>
    </div>
    <div>
        <label>ReceptorID: </label>
        <select id="cmbEmisorID" [(ngModel)]="mensaje.ReceptorID">
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}}</option>
        </select>
    </div>
    <div>
        <label>Asunto:</label>
        <input type="text" id="txtAsunto" placeholder="Asunto" />
    </div>
    <div>
    <label>Fecha: </label>
        <input [(ngModel)]="mensaje.fecha" placeholder="Fecha" />
    </div>
    <div id="divCuerpo">
        <label>Cuerpo: </label>
        <br/>
        <textarea id="txtCuerpo" [(ngModel)]="mensaje.cuerpo" placeholder="Texto"></textarea>
    </div>
  <button class="btn btn-toolbar" style="color:black !important;" (click)="goBack()">Atras</button>
    <button class="btn btn-danger" style="color:white !important;" disabled>Enviar</button>
</div>
<div *ngIf="mensaje && !create" >
    <h2>Mensaje </h2>
    <div>
        <label>EmisorID: </label>
        <label ngDefaultControl [(ngModel)]="mensaje.EmisorID">{{mensaje.eUsuario.nombre}}</label>
    </div>
    <div>
        <label>ReceptorID: </label>
        <label ngDefaultControl id="cmbEmisorID" [(ngModel)]="mensaje.ReceptorID">{{mensaje.rUsuario.nombre}}</label>
    </div>
    <div>
        <label>Asunto:</label>
        <label ngDefaultControl id="txtAsunto" [(ngModel)]="mensaje.asunto">{{mensaje.asunto}}</label>
    </div>
    <div>
        <label>Fecha: </label>
        <label ngDefaultControl [(ngModel)]="mensaje.fecha">{{mensaje.fecha}}</label>
    </div>
    <div>
        <label>Cuerpo: </label>
        <label ngDefaultControl [(ngModel)]="mensaje.cuerpo">{{mensaje.cuerpo}}</label>
    </div>
    <button class="btn btn-toolbar" style="color:black !important;" (click)="goBack()">Atras</button>
</div>